process {
    executor = 'local'
    withLabel: small {
        cpus = 1
        memory = 500.MB
    }
    withLabel: medium {
        cpus = 16
        memory = 16.GB
    }
    withLabel: large {
        cpus = 32
        memory = 32.GB
    }

    withLabel: stage {
        storeDir = "stage/${params.organism}"
    }

    withLabel: index {
        storeDir = "bt_index/${params.organism}"
    }
}
